body {
    margin: 0;
}

.home-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: #272d36;
    color: white;
}
